In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import psutil
import geopandas as gpd
import shapely
import shapefile
from shapely.geometry import Point
from collections import Counter
import folium
import requests
from bs4 import BeautifulSoup as BS

ModuleNotFoundError: No module named 'shapefile'

In [34]:
sf2009 = pd.read_csv('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/2009singlefamily_final_with_sqft.txt')
sf2013 = pd.read_csv('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/2013singlefamily_final_with_sqft.txt')
sf2017 = pd.read_csv('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/2017singlefamily_final_with_sqft.txt')
issued = pd.read_csv('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/Building_Permits_Issued.csv', low_memory=False)
parcels = pd.read_excel('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/zoneparcel.xlsx')
tax = pd.read_excel('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/2016Tax_TN.xls')

In [6]:
rebuilt_parcels = parcels.loc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765877 entries, 0 to 765876
Data columns (total 7 columns):
ParcelID         765877 non-null int64
ZoneCode         765877 non-null object
Ordinance        761211 non-null object
IsActive         765877 non-null object
DateInactive     233307 non-null datetime64[ns]
APN              765877 non-null object
DateEffective    761203 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 40.9+ MB

In [ ]:
sf2009.Yearly_Housing_Spending.max()

In [23]:
sf2009.columns

Index(['APN', 'DistrictCode', 'DistrictNo', 'Address', 'City', 'Zip',
       'LandValue', 'ImprovementValue', 'AppraisedValue', '2009 TOTAL ASSD',
       'FinishedArea', 'Yearly_Housing_Spending', 'PricePerSqFt', 'bucket'],
      dtype='object')

In [24]:
zipgroup09 = sf2009.groupby('Zip')

In [27]:
zipgroup09.Yearly_Housing_Spending.mean()

Zip
37013     6429.827782
37015     5762.280660
37027    14238.488622
37064    18338.117403
37072     7788.142637
37076     7134.973407
37080     7909.650567
37086    10560.273773
37115     5644.746697
37122    10888.264902
37135    11998.900650
37138     8031.314720
37143     8454.964806
37189     7509.063384
37201     9883.906087
37203     8934.945052
37204    14772.760672
37205    23938.792544
37206     7114.811882
37207     4929.343087
37208     4696.789062
37209     7354.766848
37210     4717.537155
37211     6885.469945
37212    13274.998861
37214     6255.282583
37215    24071.307076
37216     6021.524041
37217     5465.004202
37218     5629.761241
37219     8731.559298
37220    19491.456963
37221     9637.674704
37228     2165.513026
Name: Yearly_Housing_Spending, dtype: float64

In [18]:
bucketgrouped09 = sf2009.groupby('bucket')

In [19]:
bucketgrouped09.Yearly_Housing_Spending.max()

bucket
(1) <30%_AMI         6115.988672
(2) 30-60%_AMI      12236.507706
(3) 60-80%_AMI      16318.363849
(4) 80-120%_AMI     24477.545773
(5) >120%_AMI      470115.662578
Name: Yearly_Housing_Spending, dtype: float64

In [20]:
districtgrouped09 = sf2009.groupby('DistrictNo')

In [21]:
districtgrouped09.Yearly_Housing_Spending.describe()

,count,mean,std,min,25%,50%,75%,max
DistrictNo,,,,,,,,
1,5902.0,6565.754903,4507.917105,185.744841,4178.126335,5635.770302,7981.365217,216895.610115
2,4340.0,4774.153910,1991.615614,906.072396,3479.318000,4435.224378,5726.377542,20454.584336
3,5311.0,6563.973316,4063.895011,1132.590495,4584.726323,5685.604284,7626.864392,131652.319115
4,6856.0,11991.756757,3908.915535,1041.983255,9101.497216,12204.795172,14492.627971,61354.692284
5,4508.0,4235.445213,1629.905755,819.995518,3225.617729,3877.989854,4865.608766,19100.006104
6,5201.0,8038.306362,3954.709731,906.072396,5513.450529,7062.834326,9767.460427,55265.885784
7,6143.0,6067.451924,2551.414759,906.072396,4534.892341,5735.438266,6926.923466,40818.561432
8,5278.0,5762.673655,2168.823524,942.315292,4267.600984,5341.296773,6849.907313,23449.153604
9,4808.0,5214.014143,2615.249053,1041.983255,3854.205454,4854.282861,5989.138536,41289.719078
10,4428.0,6983.084925,3500.152625,1019.331445,5037.762521,6396.871115,7955.315635,51256.515432
11,6935.0,7579.525395,6261.432758,335.246786,4858.813223,6106.927948,7459.240999,182034.474685
12,5742.0,7829.884059,3035.961698,665.963211,5762.620438,7298.413148,9559.063776,35182.791130
13,4722.0,5519.240556,2111.577452,1091.817237,3927.823836,5083.066141,6614.328490,23625.837721
14,4151.0,5817.418489,1732.726423,679.554297,4906.382023,5567.814872,6342.506771,24355.226000
15,6374.0,6381.849091,2245.564555,1268.501354,5033.232159,5943.834917,7234.988081,41511.706815
16,4270.0,5027.507436,1506.997831,1205.076286,3923.293474,4865.608766,5943.834917,15199.364440
17,3823.0,8113.228755,4522.297148,792.813346,4627.764762,7266.700615,10564.804135,37978.024471
18,3292.0,13706.094612,7202.525113,1812.144792,8756.057115,13425.727725,17429.435124,48601.723313
19,4884.0,8929.696809,5740.465910,271.821719,5436.434375,7810.344052,11226.236984,86960.298190
20,4405.0,5253.727602,2223.050918,471.157646,3701.305737,5046.823245,6424.053286,21777.450034
21,4070.0,5247.559666,4521.288019,548.173799,2663.852844,3456.666190,5708.256094,59121.223828
22,6239.0,8122.457601,3118.147553,1630.930313,6433.114010,7665.372469,9124.149026,37003.996646
23,6180.0,25225.082624,28370.024744,1771.371534,10870.603569,15450.799530,27345.264906,374053.867172
24,6711.0,15885.660275,12022.490277,1028.392169,9051.663234,12150.430828,19675.362076,361894.375620
25,6443.0,17975.319020,12058.992154,3533.682344,11760.819698,15385.109281,20767.179313,257025.556526
26,5433.0,7577.524664,3823.737546,974.027826,4906.382023,7601.947401,9944.144544,38141.117503
27,4010.0,6083.906004,1956.759536,693.145383,4951.685643,6075.215414,7099.077221,20128.398273
28,4305.0,5674.285735,1545.724047,1218.667372,4707.046096,5495.329081,6442.174734,34621.026245
29,5640.0,5592.747944,1546.518994,1549.383797,4719.504592,5511.185348,6446.705096,26901.289432
30,3738.0,5078.194547,1348.894962,588.947057,4468.069502,5015.110711,5631.239940,20590.495195
31,6382.0,8073.625556,3409.046985,1359.108594,5857.758039,7461.506180,9559.063776,66347.151185
32,2971.0,6419.801242,2809.709287,1132.590495,4881.465033,6115.988672,7511.340161,76581.238896
33,6890.0,6812.340203,3036.230750,996.679635,5250.689534,6215.656635,7529.461609,85605.719958
34,6485.0,28076.890178,24130.578814,3791.912977,16780.460771,22325.623833,31889.217971,470115.662578
35,6231.0,10875.261531,4177.998808,480.218370,8671.112828,10379.059294,12526.450872,81578.228159

In [22]:
districtgrouped09.Yearly_Housing_Spending.mean()

DistrictNo
1      6565.754903
2      4774.153910
3      6563.973316
4     11991.756757
5      4235.445213
6      8038.306362
7      6067.451924
8      5762.673655
9      5214.014143
10     6983.084925
11     7579.525395
12     7829.884059
13     5519.240556
14     5817.418489
15     6381.849091
16     5027.507436
17     8113.228755
18    13706.094612
19     8929.696809
20     5253.727602
21     5247.559666
22     8122.457601
23    25225.082624
24    15885.660275
25    17975.319020
26     7577.524664
27     6083.906004
28     5674.285735
29     5592.747944
30     5078.194547
31     8073.625556
32     6419.801242
33     6812.340203
34    28076.890178
35    10875.261531
Name: Yearly_Housing_Spending, dtype: float64

In [8]:
sf2009.rename(columns={'APN':'APN', 'DistrictCode':'DistrictCode', 'Council District':'DistrictNo', 'AddressFullAddress': 'Address', 'AddressCity':'City', 'AddressPostalCode':'Zip', '2009 LAND':'LandValue', '2009 IMPR':'ImprovementValue', '2009 TOTAL APPR':'AppraisedValue', '2009 TOTAL ASSD':'2009 TOTAL ASSD'}, inplace=True)
sf2013.rename(columns={'APN':'APN', 'DistrictCode':'DistrictCode', 'Council District':'DistrictNo', 'AddressFullAddress': 'Address', 'AddressCity':'City', 'AddressPostalCode':'Zip', '2013 LAND':'LandValue', '2013 IMPR':'ImprovementValue', '2013 TOTAL APPR':'AppraisedValue', '2013 TOTAL ASSD':'2013 TOTAL ASSD'}, inplace=True)
sf2017.rename(columns={'APN':'APN', 'DistrictCode':'DistrictCode', 'Council District':'DistrictNo', 'AddressFullAddress': 'Address', 'AddressCity':'City', 'AddressPostalCode':'Zip', '2017 LAND':'LandValue', '2017 IMPR':'ImprovementValue', '2017 TOTAL APPR':'AppraisedValue', '2017 TOTAL ASSD':'2017 TOTAL ASSD'}, inplace=True)

In [9]:
issued.rename(columns={'Permit #': 'PermitNo', 'Permit Type Description':'PermTypeDesc', 'Permit Subtype Description': 'PermSubDesc', 'Parcel':'Parcel', 'Date Entered':'EnteredDt', 'Date Issued': 'IssuedDt', 'Const. Cost': 'ConstCost', 'Address':'Address', 'City':'City', 'State':'State', 'Zip':'Zip', 'Subdivision/Lot': 'Subdiv_Lot', 'Contact':'Contact', 'Permit Type': 'PermType', 'Permit Subtype': 'PermSubtype', 'IVR Trk#': 'IVRTrk#', 'Purpose':'Purpose', 'Council Dist':'CouncilDist', 'Census Tract':'CensusTract', 'Mapped Location':'MappedLoc'}, inplace=True)

In [10]:
issued['EnteredDt'] = pd.to_datetime(issued['EnteredDt'])
issued['IssuedDt'] = pd.to_datetime(issued['IssuedDt'])

In [ ]:
issued.head()

In [11]:
nulls09 = sf2009.loc[sf2009['FinishedArea'] == 0].index
nulls13 = sf2013.loc[sf2013['FinishedArea'] == 0].index
nulls17 = sf2017.loc[sf2017['FinishedArea'] == 0].index

sf2009 = sf2009.drop(index=nulls09)
sf2013 = sf2013.drop(index=nulls13)
sf2017 = sf2017.drop(index=nulls17)

In [ ]:
sf2009

In [ ]:
issued.loc[issued.MappedLoc.str.match(r'\(') == True]

In [ ]:
issued.MappedLoc.searchsorted()

In [12]:
r=0.0475/12 # monthly interest rate
m=30*12 # number of months in 30 years

# calculate yearly spending

sf2009['Yearly_Housing_Spending']=12*(sf2009.AppraisedValue-sf2009.AppraisedValue*0.05)*((r*(1+r)**m)/((1+r)**(m-1)))
sf2013['Yearly_Housing_Spending']=12*(sf2013.AppraisedValue-sf2013.AppraisedValue*0.05)*((r*(1+r)**m)/((1+r)**(m-1)))
sf2017['Yearly_Housing_Spending']=12*(sf2017.AppraisedValue-sf2017.AppraisedValue*0.05)*((r*(1+r)**m)/((1+r)**(m-1)))

In [ ]:
issued.columns

In [13]:
sf2009['PricePerSqFt'] = sf2009.AppraisedValue/sf2009.FinishedArea
sf2013['PricePerSqFt'] = sf2013.AppraisedValue/sf2013.FinishedArea
sf2017['PricePerSqFt'] = sf2017.AppraisedValue/sf2017.FinishedArea

In [ ]:
sf2009.info()

In [ ]:
sf2009.head()

In [ ]:
sf2009.info()

In [ ]:
sf2009.loc[sf2009.Yearly_Housing_Spending == sf2009.Yearly_Housing_Spending.max()]

In [ ]:
print('30th percentile annual housing cost, 2009: ' + str(sf2009['Yearly_Housing_Spending'].quantile(0.3)))
print('30th percentile annual housing cost, 2013: ' + str(sf2013['Yearly_Housing_Spending'].quantile(0.3)))
print('30th percentile annual housing cost, 2017: ' + str(sf2017['Yearly_Housing_Spending'].quantile(0.3)))

# Creating buckets for affordability calculation

In [14]:
AMI=68000

income_cat_1=0.30*AMI
income_cat_2=0.60*AMI
income_cat_3=0.80*AMI
income_cat_4=1.20*AMI

In [15]:
cat1_spend=income_cat_1*0.3
cat2_spend=income_cat_2*0.3
cat3_spend=income_cat_3*0.3
cat4_spend=income_cat_4*0.3

print(cat1_spend, cat2_spend, cat3_spend, cat4_spend)

6120.0 12240.0 16320.0 24480.0

In [16]:
def bucket(x):
    if x<=cat1_spend:
        return '(1) <30%_AMI'
    elif x<=cat2_spend:
         return '(2) 30-60%_AMI'
    elif x<=cat3_spend:
        return '(3) 60-80%_AMI'
    elif x<=cat4_spend:
        return '(4) 80-120%_AMI'
    else:
        return '(5) >120%_AMI'

In [17]:

# assign the buckets to sf dataframes

sf2013['bucket']=sf2013.Yearly_Housing_Spending.apply(bucket)

sf2009['bucket']=sf2009.Yearly_Housing_Spending.apply(bucket)

sf2017['bucket']=sf2017.Yearly_Housing_Spending.apply(bucket)

In [33]:
sf2009.head()

,APN,DistrictCode,DistrictNo,Address,City,Zip,LandValue,ImprovementValue,AppraisedValue,2009 TOTAL ASSD,FinishedArea,Yearly_Housing_Spending,PricePerSqFt,bucket
0,00200000300,RT,10,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,49800.0,65700.0,115500.0,28875.0,1920.0,5232.568086,60.156250,(1) <30%_AMI
1,00200000700,RT,10,1109 HIGHLAND AVE,GOODLETTSVILLE,37072,44100.0,88700.0,132800.0,33200.0,1464.0,6016.320708,90.710383,(1) <30%_AMI
2,00200001001002,GSD,10,0 SPRINGFIELD HWY,GOODLETTSVILLE,37072,15000.0,137900.0,152900.0,38225.0,3539.0,6926.923466,43.204295,(2) 30-60%_AMI
3,00200001400001,RT,10,133 B EAST END RD,GOODLETTSVILLE,37072,41100.0,27000.0,68100.0,17025.0,736.0,3085.176508,92.527174,(1) <30%_AMI
4,00200001600001,RT,10,141 B EAST END RD,GOODLETTSVILLE,37072,25100.0,60900.0,86000.0,21500.0,1301.0,3896.111302,66.102998,(1) <30%_AMI

In [ ]:
count13 = Counter(sf2013.bucket)
supply13 = dict(count13)

In [ ]:
count13

In [ ]:
count17 = Counter(sf2017.bucket)
supply17 = dict(count17)

In [ ]:
sf2009.loc[sf2009.Yearly_Housing_Spending == sf2009.Yearly_Housing_Spending.max()]

In [ ]:
sf2009.FinishedArea.describe()

In [ ]:
sf2009.loc[sf2009.PricePerSqFt == sf2009.PricePerSqFt.max()]

In [ ]:
sf2009.FinishedArea.plot(kind='hist')

In [ ]:
sf2009['Yearly_Housing_Spending'].describe()

In [ ]:
sf2013['Yearly_Housing_Spending'].describe()

In [ ]:
sf2017['Yearly_Housing_Spending'].describe()

In [ ]:
sf2009.Yearly_Housing_Spending.plot(kind='hist', bins=150)

In [ ]:
sf2013.info()

In [ ]:
sf2017.info()

In [ ]:
sf2009.AppraisedValue.describe()

In [ ]:
sf2009.AppraisedValue.plot()

In [ ]:
sf2013.AppraisedValue.describe()

In [ ]:
sf2013.AppraisedValue.plot()

In [ ]:
sf2017.AppraisedValue.describe()

In [ ]:
sf2017.AppraisedValue.plot()

In [ ]:
sf2009.AppraisedValue.describe()

In [ ]:
issued.head()

In [ ]:
issued.info()

In [ ]:
IssuedDt(demo) > IssuedDt(home) in issued where issued.PermType == CADM and issued.Address ==demos.Address

In [ ]:
dtdemissued = issued.loc[issued.PermType == 'CADM'].IssuedDt

In [ ]:
demos = issued.loc[issued.PermType == 'CADM']

In [ ]:
issued.loc[issued.Address.isin(demos.Address)]

In [ ]:
issued.loc[issued.isin(parcels)]

In [ ]:
issued.MappedLoc.unique()

In [ ]:
issued.columns

In [ ]:
issued.PermTypeDesc.unique()

In [ ]:
issued.head()

In [28]:
stypes = ['CAA01R301', 'CAA02R302', 'CAA03R298', 'CAA03R299', 'CAA03R398', 'CAA03R399']

In [ ]:
issued.loc[issued.Per]

In [29]:
homes = pd.DataFrame(issued.loc[issued.PermSubtype.isin(stypes)])

In [30]:
homes['CostToBuyer'] = homes.ConstCost * 0.09 + homes.ConstCost

In [31]:
r=0.0475/12 # monthly interest rate
m=30*12 # number of months in 30 years

homes['Yearly_Housing_Spending']=12*(homes.CostToBuyer-homes.CostToBuyer*0.05)*((r*(1+r)**m)/((1+r)**(m-1)))

In [32]:
homes['bucket']=homes.Yearly_Housing_Spending.apply(bucket)

In [50]:
income_by_zip_2016=pd.read_excel('./metrodata/2016Tax_TN.xls',skiprows=3)
income_by_zip_2016.tail()
income_by_zip_2016.rename(columns={'ZIP\ncode [1]':'Zip','Size of adjusted gross income':'IncomeBracket','Number of returns':'NumberofPeople','Adjusted gross income (AGI)':'AGI'},inplace=True)

In [49]:
income_by_zip_2016.columns

Index(['ZIP\ncode [1]', 'IncomeBracket', 'NumberofPeople',
       'Number of single returns', 'Number of joint returns',
       'Number of head of household returns',
       'Number with paid preparer's signature', 'Number of exemptions',
       'Number of dependents', 'Number of volunteer prepared returns [2]',
       ...
       'Total tax liability [10]', 'Unnamed: 136',
       'Total additional Medicare tax', 'Unnamed: 138',
       'Net investment income tax', 'Unnamed: 140',
       'Tax due at time of filing [11]', 'Unnamed: 142',
       'Overpayments refunded [12]', 'Unnamed: 144'],
      dtype='object', length=145)

In [51]:
income_by_zip_2016.head()

,Zip,IncomeBracket,NumberofPeople,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],...,Total tax liability [10],Unnamed: 136,Total additional Medicare tax,Unnamed: 138,Net investment income tax,Unnamed: 140,Tax due at time of filing [11],Unnamed: 142,Overpayments refunded [12],Unnamed: 144
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8,...,-134,-135,-136,-137,-138,-139,-140,-141,-142,-143
2,0,Total,2950780.0,1314150.0,1110820.0,462700.0,1435540.0,5776740.0,1897310.0,56960,...,2204870,24604020,52900,127410,51540,214822,508740,2719722,2337700,6820816
3,0,"$1 under $25,000",1157130.0,744170.0,155040.0,238420.0,530230.0,1712970.0,580500.0,32710,...,558670,522263,0,0,0,0,100320,89425,1001430,2236479
4,0,"$25,000 under $50,000",759330.0,356940.0,217710.0,161440.0,347590.0,1486780.0,512360.0,18130,...,629120,1669448,0,0,0,0,104410,176633,646520,1784219

In [52]:
income_by_zip_2016.Zip.unique()

array([nan, 0, 37010, 37012, 37013, 37014, 37015, 37016, 37018, 37019,
       37020, 37022, 37023, 37025, 37026, 37027, 37028, 37029, 37030,
       37031, 37032, 37033, 37034, 37035, 37036, 37037, 37040, 37042,
       37043, 37046, 37047, 37048, 37049, 37050, 37051, 37052, 37055,
       37057, 37058, 37059, 37060, 37061, 37062, 37064, 37066, 37067,
       37069, 37072, 37073, 37074, 37075, 37076, 37078, 37079, 37080,
       37082, 37083, 37085, 37086, 37087, 37090, 37091, 37095, 37096,
       37097, 37098, 37101, 37110, 37115, 37118, 37122, 37127, 37128,
       37129, 37130, 37134, 37135, 37137, 37138, 37141, 37142, 37143,
       37144, 37145, 37146, 37148, 37149, 37150, 37151, 37153, 37160,
       37166, 37167, 37171, 37172, 37174, 37175, 37178, 37179, 37180,
       37181, 37183, 37184, 37185, 37186, 37187, 37188, 37189, 37190,
       37191, 37201, 37203, 37204, 37205, 37206, 37207, 37208, 37209,
       37210, 37211, 37212, 37214, 37215, 37216, 37217, 37218, 37219,
       37220, 37221, 37228, 37301, 37302, 37303, 37305, 37306, 37307,
       37308, 37309, 37310, 37311, 37312, 37313, 37317, 37318, 37321,
       37322, 37323, 37324, 37325, 37327, 37328, 37329, 37330, 37331,
       37332, 37333, 37334, 37335, 37336, 37337, 37338, 37339, 37340,
       37341, 37342, 37343, 37345, 37347, 37348, 37350, 37351, 37352,
       37353, 37354, 37355, 37356, 37357, 37359, 37360, 37361, 37362,
       37363, 37365, 37366, 37367, 37369, 37370, 37373, 37374, 37375,
       37376, 37377, 37379, 37380, 37381, 37385, 37387, 37388, 37391,
       37396, 37397, 37398, 37402, 37403, 37404, 37405, 37406, 37407,
       37408, 37409, 37410, 37411, 37412, 37415, 37416, 37419, 37421,
       37601, 37604, 37615, 37616, 37617, 37618, 37620, 37640, 37641,
       37642, 37643, 37645, 37650, 37656, 37657, 37658, 37659, 37660,
       37663, 37664, 37665, 37680, 37681, 37683, 37686, 37687, 37688,
       37690, 37691, 37692, 37694, 37701, 37705, 37708, 37709, 37710,
       37711, 37713, 37714, 37715, 37716, 37721, 37722, 37723, 37724,
       37725, 37726, 37727, 37729, 37731, 37737, 37738, 37742, 37743,
       37745, 37748, 37752, 37753, 37754, 37755, 37756, 37757, 37760,
       37762, 37763, 37764, 37765, 37766, 37769, 37770, 37771, 37772,
       37774, 37777, 37779, 37801, 37803, 37804, 37806, 37807, 37809,
       37810, 37811, 37813, 37814, 37818, 37819, 37820, 37821, 37825,
       37826, 37829, 37830, 37840, 37841, 37843, 37846, 37847, 37848,
       37849, 37852, 37853, 37854, 37857, 37860, 37861, 37862, 37863,
       37865, 37866, 37869, 37870, 37871, 37872, 37873, 37874, 37876,
       37877, 37878, 37879, 37880, 37881, 37882, 37885, 37886, 37887,
       37888, 37890, 37891, 37892, 37902, 37909, 37912, 37914, 37915,
       37916, 37917, 37918, 37919, 37920, 37921, 37922, 37923, 37924,
       37931, 37932, 37934, 37938, 38001, 38002, 38004, 38006, 38008,
       38011, 38012, 38015, 38016, 38017, 38018, 38019, 38023, 38024,
       38028, 38030, 38034, 38037, 38039, 38040, 38041, 38042, 38044,
       38049, 38052, 38053, 38057, 38058, 38059, 38060, 38061, 38063,
       38066, 38067, 38068, 38069, 38075, 38076, 38079, 38080, 38103,
       38104, 38105, 38106, 38107, 38108, 38109, 38111, 38112, 38114,
       38115, 38116, 38117, 38118, 38119, 38120, 38122, 38125, 38126,
       38127, 38128, 38133, 38134, 38135, 38138, 38139, 38141, 38201,
       38220, 38221, 38222, 38224, 38225, 38226, 38229, 38230, 38231,
       38232, 38233, 38236, 38237, 38240, 38241, 38242, 38251, 38253,
       38255, 38256, 38257, 38258, 38259, 38260, 38261, 38301, 38305,
       38310, 38311, 38313, 38315, 38316, 38317, 38318, 38320, 38321,
       38326, 38327, 38328, 38329, 38330, 38332, 38333, 38334, 38337,
       38339, 38340, 38341, 38342, 38343, 38344, 38345, 38347, 38348,
       38351, 38352, 38355, 38356, 38357, 38358, 38359, 38361, 38362,
       38363, 38366, 38367, 38368, 38369, 38370, 38371, 38372, 38374,
       38375, 38376, 38379, 38380, 38381, 38382, 38387, 38388, 38390,
       38391, 38392, 38401, 38425, 38449, 38450, 38451, 38452, 38453,
       38454, 38456, 38457, 38459, 38460, 38461, 38462, 38463, 38464,
       38468, 38469, 38471, 38472, 38473, 38474, 38475, 38476, 38477,
       38478, 38481, 38482, 38483, 38485, 38486, 38487, 38488, 38501,
       38504, 38506, 38541, 38543, 38544, 38545, 38547, 38548, 38549,
       38551, 38552, 38553, 38554, 38555, 38556, 38558, 38559, 38560,
       38562, 38563, 38564, 38565, 38567, 38568, 38569, 38570, 38571,
       38572, 38573, 38574, 38575, 38577, 38579, 38580, 38581, 38582,
       38583, 38585, 38587, 38588, 99999,
       '** - Not shown to avoid disclosure of information \nabout specific taxpayers.  However, the data are \ncombined with data in an adjacent size class, \nas appropriate, and included in the appropriate totals.',
       '[1] The ZIP Code is based on the 5-digit ZIP code on the individual \nincome tax return.  ZIP Codes with less than 100 returns, \nidentified as a single building ZIP code, or identified as a \nnonresidential ZIP code have been categorized as other (99999).',
       '[2] The "Number of volunteer prepared returns" shows counts of \nreturns prepared by IRS-certified volunteers to taxpayers with \nlimited income, persons with disabilities, limited English speaking \ntaxpayers, current and former members of the military, and \ntaxpayers who are 60 years of age and older.',
       '[3] Includes primary taxpayers 60 years of age or older.',
       '[4] Less deficit.',
       '[5] "Qualified dividends" are ordinary dividends received \nin tax years beginning after 2002 that meet certain \nconditions and receive preferential tax rates. \nThe maximum qualified dividends tax rate is 20%.',
       "[6] Includes the Alaskan permanent fund, reported by \nresidents of Alaska on Forms 1040A and 1040EZ's.  \nThis fund only applies to statistics in the totals, and the \nstate of Alaska.",
       '[7] "Earned income credit" includes both the refundable \nand non-refundable portions.  The non-refundable portion \ncould reduce income tax and certain related taxes to zero. \nThe earned income credit amounts in excess of total tax \nliability, or amounts when there was no tax liability at all, \nwere refundable.  See footnote 8 below for explanation \nof the refundable portion of the earned income credit.',
       '[8] The refundable portion of the "earned income credit" \nequals "total income tax" minus the "earned income credit."  \nIf the result is negative, this amount is considered the \nrefundable portion.  No other refundable credits were \ntaken into account for this calculation.',
       '[9]  "Income tax" reflects the amount reported on \nForm 1040 line 56.  It also includes data from \nForm 1040A and 1040EZ filers.  ',
       '[10] "Total tax liability" differs from "Income tax," in that\n"Total tax liability" includes the taxes from recapture of \ncertain prior-year credits, tax applicable to individual \nretirement arrangements (IRA\'s), social security taxes \non self-employment income and on certain tip income, \nadvanced earned income payments, household\nemployment taxes, and certain "other taxes" listed \nin the Form 1040 instructions.',
       '[11] Reflects payments to or withholdings made to \n"Total tax liability".  This is the amount the tax filer \nowes when the income tax return is filed.',
       '[12]  The amount of overpayments the tax filer requested to \nhave refunded. ',
       'NOTE: This table presents aggregates of all returns filed and\nprocessed through the Individual Master File (IMF) system \nduring Calendar Year 2017, including any returns filed for \ntax years preceding 2016.',
       'This table is based on tax returns as initially processed by IRS\nand does not reflect amended returns or errors that were\ncorrected after initial processing. In general, during administrative \nor Master File processing, taxpayer reporting discrepancies are \ncorrected only to the extent necessary. The statistics in the ZIP code \ndata should, therefore, be used with the knowledge that some of the \ndata have not been perfected or edited for statistical purposes \nand that State totals in this table may not be altogether \ncomparable to other State totals published by the IRS, \nStatistics of Income Division. ',
       'Detail may not add to totals because of rounding.',
       'SOURCE: IRS, Statistics of Income Division, \nIndividual Master File System, August 2018.'],
      dtype=object)

In [47]:

# remove blank rows and sub total per Zip Code
# AGI is in thousands of dollars

income_by_zip_2016=income_by_zip_2016[income_by_zip_2016['IncomeBracket']!='NaN']

In [48]:
income_by_zip_2016.

,ZIP code [1],IncomeBracket,NumberofPeople,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],...,Total tax liability [10],Unnamed: 136,Total additional Medicare tax,Unnamed: 138,Net investment income tax,Unnamed: 140,Tax due at time of filing [11],Unnamed: 142,Overpayments refunded [12],Unnamed: 144
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8,...,-134,-135,-136,-137,-138,-139,-140,-141,-142,-143
2,0,Total,2950780.0,1314150.0,1110820.0,462700.0,1435540.0,5776740.0,1897310.0,56960,...,2204870,24604020,52900,127410,51540,214822,508740,2719722,2337700,6820816
3,0,"$1 under $25,000",1157130.0,744170.0,155040.0,238420.0,530230.0,1712970.0,580500.0,32710,...,558670,522263,0,0,0,0,100320,89425,1001430,2236479
4,0,"$25,000 under $50,000",759330.0,356940.0,217710.0,161440.0,347590.0,1486780.0,512360.0,18130,...,629120,1669448,0,0,0,0,104410,176633,646520,1784219

In [ ]:
bucketcount = Counter(homes.bucket)

In [ ]:
bucketcount

In [ ]:
count09

In [ ]:
count13

In [ ]:
count17

In [ ]:
homes.Yearly_Housing_Spending.describe()

In [ ]:
homes.head()

In [ ]:
homes.CostToBuyer.describe()

In [ ]:
homes.ConstCost.describe()

Certain permits have construction cost of 0.  These are anomalies (amended permits, master permits, etc.) that may be ignored.

In [ ]:
badpermits = homes.loc[homes.ConstCost == 0].index

In [ ]:
homes.drop(badpermits, inplace = True)

In [ ]:
rebuilds = pd.DataFrame(homes.loc[homes.Address.isin(demos.Address)])

In [ ]:
rebuilds.drop(rebuilds.loc[rebuilds['ConstCost'] == 0].index, inplace=True)

In [ ]:
rebuilds.ConstCost.describe()

In [ ]:
homes.ConstCost.describe()

In [ ]:
#rebuilds.set_index('IssuedDt', inplace=True)

In [ ]:
rebuilds.drop(rebuilds.loc[rebuilds.ConstCost > 3.678022e+05].index, inplace=True)

In [ ]:
rebuilds.info()

In [ ]:
homes.info()

In [ ]:
nonhomes = homes.loc[homes['ConstCost'] == 0.0].index

In [ ]:
homes.drop(index=nonhomes, inplace=True)

In [ ]:
permitdecode = pd.DataFrame(issued[['PermTypeDesc','PermType']])

In [ ]:
result = re.findall('-?\d*\.\d*', issued.MappedLoc[1])

In [ ]:
print(result)

In [ ]:
permitdecode.drop_duplicates()

CARN, CARR, CADM

In [ ]:
#resnew = pd.DataFrame(issued.loc[issued['PermType'] == 'CARW'])
respermits = pd.DataFrame(issued.loc[issued['PermType'].isin(['CARN','CARR'])])

In [ ]:
respermits.info()

In [ ]:
newhomes = respermits.Purpose.str.match(r'[dD]emolition')

In [ ]:
respermits.Purpose.unique()

In [ ]:
demos = pd.DataFrame(issued.loc[issued['PermType'] == 'CADM'])

In [ ]:
demos.info()

In [ ]:
issued.loc[issued['Address'] == '914 ACKLEN AVE']

In [ ]:
demos.head()

In [ ]:
demos.ConstCost.median()

In [ ]:
respermits.set_index('IssuedDt', inplace=True)

In [ ]:
respermits.info()

In [ ]:
len(respermits.PermSubDesc.unique())

In [ ]:
monthlycost = respermits['ConstCost'].resample('M').mean()

In [ ]:
monthlycost.plot()

In [ ]:
respermits.

In [ ]:
respermits.describe()

In [ ]:
resnew.EnteredDt.describe()

In [ ]:
resnew.IssuedDt.describe()

In [ ]:
resnew.ConstCost.describe()

In [ ]:
issued['CouncilDist'].unique()

In [ ]:
issued['MappedLoc'][1]

In [ ]:
issued['extcoords'] = issued.MappedLoc.str.extract(r'?\(.*\)', expand=False)

In [ ]:
coords = re.compile(r'\(.*\)')

In [ ]:
matches = []

In [ ]:
for string in issued.MappedLoc:
    match = re.findall(coords, string)
    matches.append(match)

In [ ]:
type(matches)

In [ ]:
type(matches[1])

In [ ]:
#[s for s in i[s] for i in matches]

coordlist = []
for i in enumerate(matches):
    i = []
    for s in i[s]:
        coordlist.append(tuple(s))

In [ ]:
len(matches)

In [ ]:
matches[1]

In [ ]:
issued['coords'] = pd.Series(matches).astype(tuple)

In [ ]:
issued['coords'][1]

Income data:
    Median average income: 68000
        Income subgroups:
        30% MAI (20400 /yr) (30% housing = 510/mo)
        60% MAI (40800 /yr) (30% housing = 1020/mo)
        80% MAI (54400 /yr) (30% housing = 1360/mo)
        120% MAI (81600 /yr) (30% housing = 2040/mo)

Model development:
    
    Owners = 54%
        - Model annual adjustments to these numbers
    
    
    Median Housing Cost - Owner = 1336/month * 12 = 16032/yr

    15-yr owner gap (affordable) = 3367
    15-yr owner gap (market) = 35751

    10-yr predicted owner gap (affordable) = 1257
    10-yr predicted owner gap (market) = 41421

In [ ]:
issued.Issued.min()

In [ ]:
issued.Issued.max()

In [ ]:
issued['monthlies'] = pd.Series([cost/360 for cost in issued.ConstCost])

In [ ]:
issued.info()

In [ ]:
issued.Zip.unique()

In [ ]:
r = requests.get('https://api.census.gov/data.html', auth=('davidwhainesiii@gmail.com', '83dffa3105cb08ef0e77c24ff28a1dc62272ae48'))

In [ ]:
type(r)

In [ ]:
rawresponse = r.text
censussoup = BS(rawresponse, 'html.parser')

In [ ]:
censussoup.find_all('table')

Question 1: At what point in time did the Codes Administration decide to begin closing the loophole by converting R zoning to RS?

Response 1: The Codes Administration does not set zoning policy, we interpret/enforce it. The Planning Commission and Metro Council are the ones who change zoning rules. The last major revision countywide to the zoning code was in 1997 when they rezoned a lot of properties in bulk. Since then, Councilmembers have proposed zoning changes for their neighborhoods on a piecemeal basis, or developers have requested zoning changes for particular properties. There hasnt been an effort by Metro Government to downzone properties because of the duplex situation, but some Council members have. (edited)

Question 2: According to the report (Housing Nashville), there are predetermined amounts of needed housing and rental properties in each district. How is the split between housing demand and rental demand being evaluated? Is this arbitrary or is there census data giving us a proportion to go off of?

Question 3: What criteria was used to calculated the Maximum Affordable Sales Price  from the MHI on page 56 of the Housing Nashville Report? What interest rate and/or tax rate was assumed?

Response 2 & 3: Unfortunately, the folks that produced the Housing Nashville Report have left Metro Government so I dont know that well get all the answers. Looking at question three, I believe the estimate was based on a 5% down payment and about a 4% interest rate for a 30 year mortgage.
Also, We have also asked Assessments for an update to the 3-years of assessment data to include the square footage of the property and the zoning code for the property. (edited)

Renters = 46%
Median Housing Cost - Renter = 874/month * 12 = 10488/yr
    
    15-yr rental gap (affordable) = 17754
    15-yr rental gap (market) = 22219
        
    10-yr predicted rental gap (affordable) = 30934
    10-yr predicted rental gap (market) = 23043

In [ ]:
codetypes = pd.read_excel('/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi/metrodata/Codes-Type-Subtype-List-20181011.xlsx')

In [ ]:
codetypes.head()

In [ ]:
codetypes.info()

In [ ]:
codetypes.CASE_TYPE_DESC.unique()

In [ ]:
codetypes.loc[codetypes.CASE_TYPE_DESC == 'Building Demolition Permit']

In [55]:
pwd

'/Users/davidhaines/DataScience/data-question-4-affordable-housing-plaid-platypi-plaidypi'

In [56]:
counties = gpd.read_file('./metrodata/cb_2017_us_zcta510_500k.shp')

CPLE_OpenFailedError: b'Unable to open ./metrodata/cb_2017_us_zcta510_500k.shx or ./metrodata/cb_2017_us_zcta510_500k.SHX.Try --config SHAPE_RESTORE_SHX true to restore or create it'