In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import geopandas as gpd
import warnings
warnings.filterwarnings("ignore")

In [2]:
Family_2009 = pd.read_csv('/Users/brandendahlem/Downloads/2009_Family.csv')
Family_2013 = pd.read_csv('/Users/brandendahlem/Downloads/Family_2013.csv')
Family_2017 = pd.read_csv('/Users/brandendahlem/Downloads/Family_2017.csv')
Building_Permits = pd.read_csv('/Users/brandendahlem/Downloads/Building_Permits_Issued.csv')

In [3]:
Family_2009.rename(columns={'APN':'APN', 'DistrictCode':'DistrictCode', 'Council District':'DistrictNo', 'AddressFullAddress': 'Address', 'AddressCity':'City', 'AddressPostalCode':'Zip', '2009 LAND':'LandValue', '2009 IMPR':'ImprovementValue', '2009 TOTAL APPR':'AppraisedValue', '2009 TOTAL ASSD':'2009 TOTAL ASSD'}, inplace=True)
Family_2009.head()

,APN,DistrictCode,DistrictNo,Address,City,Zip,LandValue,ImprovementValue,AppraisedValue,2009 TOTAL ASSD
0,00200000300,RT,10,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,49800.0,65700.0,115500.0,28875.0
1,00200000700,RT,10,1109 HIGHLAND AVE,GOODLETTSVILLE,37072,44100.0,88700.0,132800.0,33200.0
2,00200001001,GSD,10,1992 SPRINGFIELD HWY,GOODLETTSVILLE,37072,0.0,0.0,0.0,0.0
3,00200001001002,GSD,10,0 SPRINGFIELD HWY,GOODLETTSVILLE,37072,15000.0,137900.0,152900.0,38225.0
4,00200001200,GSD,10,1855 LAKE RD,RIDGETOP,37152,0.0,0.0,0.0,0.0

In [4]:
Family_2013.rename(columns={'APN':'APN', 'DistrictCode':'DistrictCode', 'Council District':'DistrictNo', 'AddressFullAddress': 'Address', 'AddressCity':'City', 'AddressPostalCode':'Zip', '2013 LAND':'LandValue', '2013 IMPR':'ImprovementValue', '2013 TOTAL APPR':'AppraisedValue', '2013 TOTAL ASSD':'2013 TOTAL ASSD'}, inplace=True)
Family_2013.head()

,APN,DistrictCode,DistrictNo,Address,City,Zip,LandValue,ImprovementValue,AppraisedValue,2013 TOTAL ASSD
0,00400004700,GSD,1,8114 WHITES CREEK PIKE,JOELTON,37080,38800.0,154100.0,192900.0,48225.0
1,00400004800,GSD,1,8120 WHITES CREEK PIKE,JOELTON,37080,41400.0,132600.0,174000.0,43500.0
2,00400004900,GSD,1,8130 WHITES CREEK PIKE,JOELTON,37080,43500.0,82100.0,125600.0,31400.0
3,00400005000,GSD,1,8146 WHITES CREEK PIKE,JOELTON,37080,49100.0,96900.0,146000.0,36500.0
4,00400005100,GSD,1,8150 WHITES CREEK PIKE,JOELTON,37080,38700.0,97900.0,136600.0,34150.0

In [5]:
Family_2017.rename(columns={'APN':'APN', 'DistrictCode':'DistrictCode', 'Council District':'DistrictNo', 'AddressFullAddress': 'Address', 'AddressCity':'City', 'AddressPostalCode':'Zip', '2017 LAND':'LandValue', '2017 IMPR':'ImprovementValue', '2017 TOTAL APPR':'AppraisedValue', '2017 TOTAL ASSD':'2017 TOTAL ASSD'}, inplace=True)
Family_2017.head()

,APN,DistrictCode,DistrictNo,Address,City,Zip,LandValue,ImprovementValue,AppraisedValue,2017 TOTAL ASSD
0,00200000300,RT,10,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,46700,88700,135400,33850
1,00200000700,RT,10,1109 HIGHLAND AVE,GOODLETTSVILLE,37072,40100,109700,149800,37450
2,00200001001002,GSD,10,0 SPRINGFIELD HWY,GOODLETTSVILLE,37072,18000,185100,203100,50775
3,00200001300,RT,10,127 EAST END RD,GOODLETTSVILLE,37072,37300,296000,333300,83325
4,00200001400001,RT,10,133 B EAST END RD,GOODLETTSVILLE,37072,30000,34100,64100,16025

In [39]:
Building_Permits.rename(columns={'Permit #':'Permit#','Permit Type Description':'PermitDesc','Permit Subtype Description':'PermitSubDesc', 'Parcel':'Parcel','Date Entered':'DateEntered','Date Issued':'DateIssued','Const. Cost':'ConstCost', 'Address':'Address', 'City':'City','State':'State', 'Zip':'Zip', 'Subdivision/Lot':'SubdivisionLot', 'Contact':'Contact', 'Permit Type':'PermitType', 'Permit Subtype': 'PermitSubtype', 'IVR Trk#': 'IVRTRK#', 'Purpose': 'Purpose', 'Council Dist': 'CouncilDist', 'Census Tract':'CensusTract', 'Mapped Location': 'MappedLoc'})
Building_Permits.head(10)

,PermType,PermTypeDesc,PermitNo,PermSubtypeDesc,Parcel,Issued,ConstCost,Address,City,State,Zip,SubdLot,Contact,PermSubtype,IVRTrk#,Purpose,CouncilDist,CensusTract,MappedLoc,Location
0,CARN,Building Residential - New,2018002927,Single Family Residence,081160R00100CO,02/12/2018,206150.0,1017A MONROE ST,NASHVILLE,TN,37208,UNIT A 1017 MONROE,"TRISTAR CONSTRUCTION, INC",CAA01R301,3439281,to construct 1830SF single family residence wi...,19.0,37019400.0,"1017A MONROE ST\nNASHVILLE, TN 37208\n(36.1740...","(36.174077, -86.797183)"
1,CAUO,Building Use & Occupancy,201617929,"Tents, Stages",09215014800,04/21/2016,2000.0,2300 WEST END AVE,NASHVILLE,TN,37203,N W CORNER WEST END AVE & 23RD AVE N,Music City Tents & Events Llc,CAZ06A001,2116751,PERMIT TO ERECT 1:40X85 TENT. THIS TENT IS BEI...,21.0,37016500.0,"2300 WEST END AVE\nNASHVILLE, TN 37203\n(36.14...","(36.148736, -86.804731)"
2,CASN,Building Sign Permit,2016049270,Sign - Ground / Wall Signs,11909014000,09/14/2016,15000.0,2802 NOLENSVILLE PIKE,NASHVILLE,TN,37211,PT LOT 2 PATTERSON SUB,BOZMAN SIGN CO INC,CAZ02A001,3277064,to install replacement signage for existing fr...,16.0,37017300.0,"2802 NOLENSVILLE PIKE\nNASHVILLE, TN 37211\n(3...","(36.112749, -86.746151)"
3,CARK,Building Residential - Roofing / Siding,2016029907,Duplex,075150A13900CO,06/20/2016,17648.0,139 STONERS GLEN DR,HERMITAGE,TN,37076,UNIT 139 STONERS GLEN PHASE 1,"MR ROOF NASHVILLE, LLC",CAA02R302,3251947,Remove existing shingles and replace with new ...,12.0,37015623.0,"139 STONERS GLEN DR\nHERMITAGE, TN 37076\n(36....","(36.196166, -86.60253)"
4,CART,Building Residential - Tenant Finish Out,201533533,"Multifamily, Tri-Plex, Quad, Apartments",10404024100,11/17/2015,542696.0,70 MUSIC SQ W,NASHVILLE,TN,37203,LOT 1 O.B. HAYES FIRST PLAN CONSOLIDATION OF L...,Construction Enterprises Inc,CAA03R398,2061885,SEE MASTER PERMIT T2015-26520...T.....GRAND AV...,19.0,37016400.0,"70 MUSIC SQ W\nNASHVILLE, TN 37203\n(36.147074...","(36.147074, -86.793734)"
5,CARR,Building Residential - Rehab,201605753,Single Family Residence,131060E32200CO,02/10/2016,50000.0,322 BOXMERE PL,NASHVILLE,TN,37215,UNIT 322 BURTON HILLS VILLAGE OF BOXMERE-PHASE 1,Sharp & Robbins Construction Llc,CAA01R301,2100747,to conduct interior renovation to existing uni...,25.0,37017902.0,"322 BOXMERE PL\nNASHVILLE, TN 37215\n(36.09425...","(36.09425, -86.818068)"
6,CARN,Building Residential - New,2017032777,Single Family Residence,072103B00300CO,05/24/2017,226201.0,1037 FAIRWIN AVE,NASHVILLE,TN,37216,UNIT 3 2619 GALLATIN PIKE TOWNHOMES,PARAGON GROUP LLC,CAA01R301,3367050,to construct 2008Sf single family residence wi...,5.0,37011400.0,"1037 FAIRWIN AVE\nNASHVILLE, TN 37216\n(36.198...","(36.198241, -86.742235)"
7,CARR,Building Residential - Rehab,201546095,Single Family Residence,12809002600,10/22/2015,30000.0,305 HARPETH VALLEY RD,NASHVILLE,TN,37221,LOT 35 B. V. 1776 ESTATES,"Odyssey Construction, Llc",CAA01R301,2078541,to make general repairs to existing residence....,22.0,37018301.0,"305 HARPETH VALLEY RD\nNASHVILLE, TN 37221\n(3...","(36.087682, -86.95111)"
8,CACK,Building Commercial - Roofing / Siding,201619676,"Manufacturing, Light Hazardous (H1-H5)",09314033300,04/28/2016,66961.0,625 FOGG ST,NASHVILLE,TN,37203,LOTS 30 TH 34 EWING & WETMORE,Ragan Construction Co Inc (Formerly Southern R...,CAH06H000,2119017,to reroof existing cromatics building.,19.0,37019500.0,"625 FOGG ST\nNASHVILLE, TN 37203\n(36.150909, ...","(36.150909, -86.776183)"
9,CACF,Building Commercial - Foundation,201550728,"Multifamily, Apt / Twnhome > 5 Unit Bldg",08305009600,02/01/2016,219566.0,1035 W EASTLAND AVE,NASHVILLE,TN,37206,"LOT 4 EDGEFIELD HOSPITAL, INC. RESUB",Southland Constructors Inc.,CAA03R399,2084584,"per shell permit 201550039, to conduct foundat...",5.0,37011700.0,"1035 W EASTLAND AVE\nNASHVILLE, TN 37206\n(36....","(36.183691, -86.749833)"

In [7]:
Family_2009.describe()

,DistrictNo,Zip,LandValue,ImprovementValue,AppraisedValue,2009 TOTAL ASSD
count,183414.000000,183414.000000,1.834140e+05,1.834140e+05,1.834140e+05,1.834140e+05
mean,18.083232,37166.304606,6.046092e+04,1.410188e+05,2.014797e+05,5.058643e+04
std,10.312674,73.360963,9.491924e+04,1.536792e+05,2.229372e+05,5.578090e+04
min,1.000000,37013.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.000000,37115.000000,2.500000e+04,8.020000e+04,1.077000e+05,2.710000e+04
50%,18.000000,37208.000000,3.200000e+04,1.094000e+05,1.452000e+05,3.645000e+04
75%,27.000000,37214.000000,5.190000e+04,1.569000e+05,2.199000e+05,5.520000e+04
max,35.000000,37228.000000,4.623800e+06,8.508500e+06,1.037700e+07,2.594250e+06

In [8]:
Family_2013.describe()

,DistrictNo,Zip,LandValue,ImprovementValue,AppraisedValue,2013 TOTAL ASSD
count,186267.000000,186267.000000,1.862670e+05,1.862670e+05,1.862670e+05,1.862670e+05
mean,18.151798,37165.693274,5.835695e+04,1.426891e+05,2.010460e+05,5.054135e+04
std,10.333527,73.776175,9.032982e+04,1.610503e+05,2.280168e+05,5.704308e+04
min,1.000000,37013.000000,8.000000e+02,0.000000e+00,1.400000e+03,3.500000e+02
25%,9.000000,37115.000000,2.200000e+04,7.790000e+04,1.034000e+05,2.602500e+04
50%,18.000000,37208.000000,3.000000e+04,1.087000e+05,1.428000e+05,3.592500e+04
75%,27.000000,37214.000000,5.000000e+04,1.580000e+05,2.212000e+05,5.560000e+04
max,99.000000,37228.000000,3.859800e+06,1.058050e+07,1.163050e+07,2.907625e+06

In [9]:
Family_2017.describe()

,DistrictNo,Zip,LandValue,ImprovementValue,AppraisedValue,2017 TOTAL ASSD
count,197114.000000,197114.000000,1.971140e+05,1.971140e+05,1.971140e+05,1.971140e+05
mean,18.250211,37164.657051,8.482655e+04,1.932881e+05,2.781146e+05,6.993672e+04
std,10.330018,111.948534,1.086797e+05,1.966430e+05,2.743975e+05,6.880160e+04
min,1.000000,0.000000,9.000000e+02,0.000000e+00,2.500000e+03,6.250000e+02
25%,9.000000,37115.000000,3.300000e+04,1.061000e+05,1.497000e+05,3.777500e+04
50%,19.000000,37207.000000,4.900000e+04,1.507000e+05,2.078000e+05,5.232500e+04
75%,27.000000,37214.000000,8.500000e+04,2.221000e+05,3.134000e+05,7.877500e+04
max,35.000000,37221.000000,4.832000e+06,9.911800e+06,1.149580e+07,2.888680e+06

In [10]:
Building_Permits.describe()

        Const. Cost           Zip      IVR Trk#  Council Dist  Census Tract
count  3.608500e+04  36221.000000  3.622100e+04  36141.000000  3.603900e+04
mean   2.899015e+05  37155.037078  3.024253e+06     17.586287  1.372843e+08
std    1.933948e+06    978.455230  5.796553e+05      9.145513  2.130941e+09
min    0.000000e+00      0.000000  1.765800e+04      1.000000  1.020000e+04
25%    7.637000e+03  37203.000000  2.119153e+06     10.000000  3.701320e+07
50%    5.000000e+04  37208.000000  3.313781e+06     19.000000  3.701563e+07
75%    2.144000e+05  37211.000000  3.416495e+06     24.000000  3.701820e+07
max    8.809536e+07  37240.000000  3.556943e+06     35.000000  4.703702e+10

In [11]:
Building_Permits.rename(columns={'Permit #': 'PermitNo', 'Permit Type Description':'PermTypeDesc', 'Permit Subtype Description': 'PermSubtypeDesc', 'Parcel':'Parcel', 'Date Entered':'Entered', 'Date Issued': 'Issued', 'Const. Cost': 'ConstCost', 'Address':'Address', 'City':'City', 'State':'State', 'Zip':'Zip', 'Subdivision/Lot': 'SubdLot', 'Contact':'Contact', 'Permit Type': 'PermType', 'Permit Subtype': 'PermSubtype', 'IVR Trk#': 'IVRTrk#', 'Purpose':'Purpose', 'Council Dist':'CouncilDist', 'Census Tract':'CensusTract', 'Mapped Location':'MappedLoc'},inplace=True)

In [12]:
Building_Permits['MappedLoc'][1]

'2300 WEST END AVE\nNASHVILLE, TN 37203\n(36.148736, -86.804731)'

In [13]:
coords = re.compile(r'\(.*\)')

In [14]:
matches = []

In [15]:
for string in Building_Permits.MappedLoc:
    match=re.findall(coords,string)
    matches.append(match)

In [16]:
matches[1]

matches=pd.DataFrame(matches)

# keep only first column
matches=matches.iloc[:,0]
Building_Permits=Building_Permits.join(matches)
# rename column '0' as 'location'
Building_Permits.rename(columns={0:'Location'},inplace=True)

In [17]:
Building_Permits.loc[Building_Permits['Location']== 'none']

Empty DataFrame
Columns: [PermitNo, PermTypeDesc, PermSubtypeDesc, Parcel, Entered, Issued, ConstCost, Address, City, State, Zip, SubdLot, Contact, PermType, PermSubtype, IVRTrk#, Purpose, CouncilDist, CensusTract, MappedLoc, Location]
Index: []

[0 rows x 21 columns]

In [18]:
Building_Permits['CouncilDist'].unique()

array([19., 21., 16., 12., 25.,  5., 22.,  7., 20., 14., 24.,  6.,  2.,
       31., 10., 32., 15., 17., 18., 29.,  9.,  1., 26., 34., 11.,  8.,
       30., 13., 23.,  3., 33., nan, 35.,  4., 28., 27.])

In [19]:
CensusTract1=Building_Permits.groupby('CensusTract').count()

In [20]:
Building_Permits['PermType'].unique()

array(['CARN', 'CAUO', 'CASN', 'CARK', 'CART', 'CARR', 'CACK', 'CACF',
       'CACR', 'CACN', 'CACA', 'CADM', 'CACT', 'CARA', 'CARH', 'CARJ',
       'CATR', 'CACH', 'CABL', 'CARF', 'CARE', 'CARP', 'CACG', 'CACJ',
       'CARW', 'CAMV', 'CACP', 'CARL', 'CACE', 'CACL'], dtype=object)

In [21]:
Building_Permits.PermTypeDesc.unique()

array(['Building Residential - New', 'Building Use & Occupancy',
       'Building Sign Permit', 'Building Residential - Roofing / Siding',
       'Building Residential - Tenant Finish Out',
       'Building Residential - Rehab',
       'Building Commercial - Roofing / Siding',
       'Building Commercial - Foundation', 'Building Commercial - Rehab',
       'Building Commercial - New', 'Building Commercial - Addition',
       'Building Demolition Permit',
       'Building Commercial - Tenant Finish Out',
       'Building Residential - Addition', 'Building Residential - Shell',
       'Building Residential - Fire Damage',
       'Building Tree Removal Permit', 'Building Commercial - Shell',
       'Building Blasting Permit', 'Building Residential - Foundation',
       'Building Residential - Amend Permit',
       'Building Residential - Change Contractor',
       'Building Commercial - Structural Frame',
       'Building Commercial - Fire Damage',
       'Building Residential - Renew Permit', 'Building Moving Permit',
       'Building Commercial - Change Contractor',
       'Building Residential - Storm Damage',
       'Building Commercial - Amend Permit',
       'Building Commercial - Storm Damage'], dtype=object)

### Moving columns within a dataframe. Remove the columns from the dataframe, add them back in ---v

In [22]:
cols = list(Building_Permits.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('PermType')) #Remove b from list
cols.pop(cols.index('PermTypeDesc')) #Remove x from list
Building_Permits= Building_Permits[['PermType','PermTypeDesc']+cols]

In [23]:
Building_Permits.drop(columns='Entered',inplace=True)

In [38]:
CARN_df=pd.DataFrame(Building_Permits.loc[Building_Permits['PermType']=='CARN'])
CARN_df;

Permits_new_df=pd.DataFrame(Building_Permits.loc[Building_Permits['PermType'].isin(['CARN','CARR','CADM'])])
Permits_new_df.head(10)

,PermType,PermTypeDesc,PermitNo,PermSubtypeDesc,Parcel,Issued,ConstCost,Address,City,State,Zip,SubdLot,Contact,PermSubtype,IVRTrk#,Purpose,CouncilDist,CensusTract,MappedLoc,Location
0,CARN,Building Residential - New,2018002927,Single Family Residence,081160R00100CO,02/12/2018,206150.0,1017A MONROE ST,NASHVILLE,TN,37208,UNIT A 1017 MONROE,"TRISTAR CONSTRUCTION, INC",CAA01R301,3439281,to construct 1830SF single family residence wi...,19.0,37019400.0,"1017A MONROE ST\nNASHVILLE, TN 37208\n(36.1740...","(36.174077, -86.797183)"
5,CARR,Building Residential - Rehab,201605753,Single Family Residence,131060E32200CO,02/10/2016,50000.0,322 BOXMERE PL,NASHVILLE,TN,37215,UNIT 322 BURTON HILLS VILLAGE OF BOXMERE-PHASE 1,Sharp & Robbins Construction Llc,CAA01R301,2100747,to conduct interior renovation to existing uni...,25.0,37017902.0,"322 BOXMERE PL\nNASHVILLE, TN 37215\n(36.09425...","(36.09425, -86.818068)"
6,CARN,Building Residential - New,2017032777,Single Family Residence,072103B00300CO,05/24/2017,226201.0,1037 FAIRWIN AVE,NASHVILLE,TN,37216,UNIT 3 2619 GALLATIN PIKE TOWNHOMES,PARAGON GROUP LLC,CAA01R301,3367050,to construct 2008Sf single family residence wi...,5.0,37011400.0,"1037 FAIRWIN AVE\nNASHVILLE, TN 37216\n(36.198...","(36.198241, -86.742235)"
7,CARR,Building Residential - Rehab,201546095,Single Family Residence,12809002600,10/22/2015,30000.0,305 HARPETH VALLEY RD,NASHVILLE,TN,37221,LOT 35 B. V. 1776 ESTATES,"Odyssey Construction, Llc",CAA01R301,2078541,to make general repairs to existing residence....,22.0,37018301.0,"305 HARPETH VALLEY RD\nNASHVILLE, TN 37221\n(3...","(36.087682, -86.95111)"
11,CARN,Building Residential - New,201605693,"Accessory Structure, Carport",09106037500,02/10/2016,7833.0,5410A KENTUCKY AVE,NASHVILLE,TN,37209,LOT 1315 BLK 184 WEST NASH 1,Gianikas Contractors Inc,CAA14U004,2100683,DETACHED STRUTURE RESTRICTED COVEVANT APP 2016...,20.0,37013300.0,"5410A KENTUCKY AVE\nNASHVILLE, TN 37209\n(36.1...","(36.159684, -86.853852)"
14,CARN,Building Residential - New,2017061156,"Accessory Structure, Garage",09213005200,10/23/2017,15000.0,3724 PARK AVE,NASHVILLE,TN,37209,LOT 12 BLOCK 8 CHARLOTTE PK 2ND ADDN,"PIRTLE, JOHN DBA THIRD COAST BUILDERS",CAA14U009,3407326,RECEIVED RESTRICTIVE COVENANT FOR DETACHED STR...,24.0,37013500.0,"3724 PARK AVE\nNASHVILLE, TN 37209\n(36.151554...","(36.151554, -86.830222)"
16,CARN,Building Residential - New,2016069036,Single Family Residence,070070C00100CO,12/28/2016,235213.0,1012A ALICE ST,NASHVILLE,TN,37218,UNIT 1012A 1012 ALICE AVENUE,CROWN INDUSTRIES LLC,CAA01R301,3301562,To construct Unit A of 1012 Alice Ave of new ...,2.0,37012801.0,"1012A ALICE ST\nNASHVILLE, TN 37218\n(36.20332...","(36.203329, -86.810824)"
17,CARN,Building Residential - New,2017074521,"Accessory Structure, Shed / Storage Bldg",17301025800,11/20/2017,13389.0,732 RIDGEVIEW CT,ANTIOCH,TN,37013,L 9-B DREAMLAND ESTATES SOUTHEAST SEC 3 ZLD RESUB,SELF CONTRACTOR RESIDENTIAL (SEE APPLICANT INF...,CAA14U011,3425318,to construct a 15 x 20 detached storage buildi...,31.0,37019112.0,"732 RIDGEVIEW CT\nANTIOCH, TN 37013\n(36.03423...","(36.034239, -86.708892)"
18,CARN,Building Residential - New,201614829,Single Family Residence,01200025600,06/27/2016,456678.0,2121 BAKER RD,GOODLETTSVILLE,TN,37072,N/S BAKER RD W OF OLD DICKERSON PK,"Pettis Builders, Llc",CAA01R301,2112744,CONSTRUCT A SINGLE FAMILY HOME ON THE PROPERTY...,10.0,37010202.0,"2121 BAKER RD\nGOODLETTSVILLE, TN 37072\n(36.3...","(36.364891, -86.755355)"
19,CARR,Building Residential - Rehab,2017035041,Single Family Residence,103160B02200CO,05/30/2017,40000.0,4215 HARDING PIKE 211,NASHVILLE,TN,37205,APT. 211 WINDSOR TOWER COND.,SELF CONTRACTOR RESIDENTIAL (SEE APPLICANT INF...,CAA01R301,3370215,RENOVATIONS TO SINGLE FAMILY RES...WHICH IS PA...,24.0,37018000.0,"4215 HARDING PIKE 211\nNASHVILLE, TN 37205\n(3...","(36.128659, -86.841815)"

In [25]:
#Building_Permits[['PermType','PermTypeDesc','Address','City','State','Zip']]

In [26]:
print(type(Permits_new_df['Location']))

<class 'pandas.core.series.Series'>

In [27]:
Permits_new_df['Location'].astype('str',inplace=True)

0        (36.174077, -86.797183)
5         (36.09425, -86.818068)
6        (36.198241, -86.742235)
7         (36.087682, -86.95111)
11       (36.159684, -86.853852)
14       (36.151554, -86.830222)
16       (36.203329, -86.810824)
17       (36.034239, -86.708892)
18       (36.364891, -86.755355)
19       (36.128659, -86.841815)
21       (36.045042, -86.616211)
23       (36.133549, -86.783616)
26       (36.164004, -86.870782)
30       (36.173632, -86.794535)
34       (36.160079, -86.861101)
36       (36.102592, -86.813442)
37       (36.146926, -86.903582)
38       (36.182291, -86.800881)
40       (36.061806, -86.755568)
43       (36.082952, -86.944116)
47       (36.046438, -86.815953)
48       (36.123634, -86.797301)
51         (35.988873, -86.6656)
52                          None
53       (36.145846, -86.830042)
54       (36.129867, -86.780268)
56       (36.164752, -86.758218)
60        (36.107209, -86.78924)
61       (36.145781, -86.783308)
63       (36.049477, -86.815057)
                  ...
36170    (36.080314, -86.954582)
36171    (36.050335, -86.608639)
36172    (36.048586, -86.951711)
36174    (36.167427, -86.863334)
36177    (36.041981, -86.768096)
36179    (36.048586, -86.951711)
36181     (36.16743, -86.863339)
36183    (36.207022, -86.739737)
36184    (36.048586, -86.951711)
36185    (36.167423, -86.863328)
36188    (36.050335, -86.608639)
36189     (36.182424, -86.73327)
36190    (36.184131, -86.732726)
36193    (36.048586, -86.951711)
36194     (36.12021, -86.807099)
36197    (36.048586, -86.951711)
36201    (36.048586, -86.951711)
36202    (36.048586, -86.951711)
36206    (36.050335, -86.608639)
36208    (36.184583, -86.732664)
36210    (36.050335, -86.608639)
36211    (36.048586, -86.951711)
36212    (36.048586, -86.951711)
36213    (36.048586, -86.951711)
36214    (36.048586, -86.951711)
36215    (36.050335, -86.608639)
36217     (36.145219, -86.86511)
36218    (36.048586, -86.951711)
36219    (36.050335, -86.608639)
36220     (36.12021, -86.807099)
Name: Location, Length: 20207, dtype: object

In [28]:
coord =pd.DataFrame(Permits_new_df['Location'] \
    .str.replace(')', '') \
    .str.replace('(', '') \
    .str.split(',', expand = True))

In [37]:
coord=coord.join(Permits_new_df,how='right')
coord.rename(columns={'0':'Latitude', '1':'Longitude'}, inplace=True)

coord.head()

ValueError: columns overlap but no suffix specified: Index(['PermType', 'PermTypeDesc', 'PermitNo', 'PermSubtypeDesc', 'Parcel',
       'Issued', 'ConstCost', 'Address', 'City', 'State', 'Zip', 'SubdLot',
       'Contact', 'PermSubtype', 'IVRTrk#', 'Purpose', 'CouncilDist',
       'CensusTract', 'MappedLoc', 'Location'],
      dtype='object')

In [30]:
result=re.findall('-?\d*\.\d*',Building_Permits.MappedLoc[2])

In [31]:
result

['36.112749', '-86.746151']

In [32]:
#my_string=Permits_new_df['Location'].tolist()

In [33]:
#print(type(my_string)

In [34]:
#my_string=[x for x in my_string if x is not None]

In [35]:
#my_string

In [36]:
#Lat = [i.split(',')[0] for i in my_string] 
#Lat

#Long = [i.split(',')[] for i in my_string]

#for i in my_string:
   #parts = i.split(',')
   # print(parts)
    
#parts.str.split(',')